.adicionar-livros {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.remove-livro {
    display: inline-block;
    margin-left: 100px;
}

button:hover {
    background-color: #45a049;
}

.lista-livros {
    list-style: none;
    padding: 0;
}

.lista-livros li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}